<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./server/jstyle.css">
    <link rel="stylesheet" media="only screen and (min-width:200px) and (max-width:480px) href="./server/jstyle.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <title><%= t %></title>
</head>
<body>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"> &times;</a>
        <a href="#">NEW</a>
        <a href="#">BEST 100</a>
        <a href="#">BASIC</a>
        <a href="#">OUTER</a>
        <a href="#">TOP</a>
        <a href="#">DRESS/SKIRT</a>
        <a href="#">PANT</a>
        <a href="#">LEGGINGS</a>
        <a href="#">SET</a>
        <a href="#">ACC</a>
        <div class="width"></div>
      </div>
    <div id="main">
        <nav class="topNav">
            <div class="icon-bar">
                <a href="#" class="active-btn"></a>
                    <div class="container" onclick="openMenu(this)">
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                    </div>
                <span class="logo"> I LoveJ</span>
            </div>
    
            <div class="nav-center">
                    <%if (!t)  {%>
                        <li><a href="/auth/login" class="actvie" onmouseover="this.innerText='로그인'" onmouseout="this.innerText='LOGIN'"id="login">LOGIN</a></li>
                        <%} else if(t){%>
                            <li><a href="/auth/logout" class="actvie" onmouseover="this.innerText='로그아웃'" onmouseout="this.innerText='LOGOUT'"id="logout">LOGOUT</a></li>
                            <% } %>
                
                <li><a href="/auth/register" id="join" onmouseover="this.innerText='회원가입'" onmouseout="this.innerText='JOIN'">JOIN</a></li>
                <li><a href="#" id="cart" onmouseover="this.innerText='장바구니'" onmouseout="this.innerText='CART'">CART</a></li>
                <li><a href="#" id="mypage" onmouseover="this.innerText='마이페이지'" onmouseout="innerText='MYPAGE'">MYPAGE</a></li>
            </div>
    
            <div class="sns">
               <li><a href="#"><i class="fa fa-twitter"></i></a></li>
               <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            </div>
        </nav>
        <div class="slidWrap">
            <div class="slideNav">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
            
            <div class="row">
                <div class="column left">        
                    <span class="spana">For The </span>
                    <span class ="spanb">Kids!</span>          
                </div>
                <div class="column right">
                    <div class="in-left">
                        <image class="images" src="./server/images/Rainbow.jpg">
                    </div>
                    <div class="in-right">
                        <p class="p-header">Legacy Outlet</p><br>
                        <p>과거부터 현재까지,</p>
                        <span class="sp">아이러브제이와 함께해요.</span>
                        <span class="uni">&#10140; 상품보러가기</span>
                    </div>
                </div>
            </div>
            <div class="item-wrap">
                <div class="t-item">
                    <p>아이러브 <b>베이직</b></p> 
                 </div>
                 <div class="item-row">
                    <% for(let i = 0; i < data1.length; i++) {%>
                     <div class="item-column">
                         <dt class="thum">
                             <a href=/shop/shopdetail/?id=<%= data1[i].id %> class="thumWrap">
                                 <span class="imageWrap">
                                    <img class="in-card" src=<%= data1[i].image %> />
                                 </span>
                             </a>
                         </dt>
                     <div class="item-column-info">
                        <p class="title"><%= data1[i].title %></p>
                        <hr>
                        <p class="des"><%= data1[i].des%></p>
                        <p class="price"><%= data1[i].price.toString()%>원</p> 
                     </div>
                    </div>
                     <% }%>            
                </div>
                <div class="t-item">
                 <p>반응좋은 <b>베스트</b></p> 
                 </div>
                <div class="item-row">
                    <% for(let i = 0; i < data2.length; i++) {%>
                        <div class="item-column">
                            <dt class="thum">
                                <a href="/shop/shopdetail/?id=<%= data2[i].id %>" class="thumWrap">
                                    <span class="imageWrap">
                                       <img class="in-card" src=<%= data2[i].image %> />
                                    </span>
                                </a>
                            </dt>
                        <div class="item-column-info">
                           <p class="title"><%= data2[i].title %></p>
                           <hr>
                           <p class="des"><%= data2[i].des%></p>
                           <p class="price"><%= data2[i].price.toString()%>원</p> 
                        </div>
                    </div>
                <% }%>            
              </div>
         </div>
            <div class="back1">
                   <div class="caption">
                       <span class="border">I Love J</span>
                   </div>
            </div> 
        
            <div class="infomation">
                <div class="text-info">
                    <span><b>CUSTOMER SERVICE</b></span>
                    <br><br><br>
                    <p >0000-0000</p>
                    <p>AM 10:00 - PM:5:00 MON-FRI(HOLIDAY OFF)</p>
                    <p>LUNCH PM12:00 - 1:00</p>
                </div>
        
                <div class="bank-info">
                    <p><b>BANK ACCOUNT</b></p>
                    <br>
                    <p>농협 000-00000-00</p>
                     <p>국민 00000-00-00000</p>
                     <p>(주)제이스타일코리아</p>
                </div>
                <div class="return">
                    <p><b>RETURN</b></p>
                    <br><br><br>
                    <span>반품주소</span>
                    <span>CJ 대한통운 이용시:00 000 000 000</span>
                    <p>타택배 이용시 : oo oooo oo ooo</p>
                </div>
            </div>
            
            <div class="footer">
                <ul class="ul1">
                    <li><a href="#">ABOUT COMPANY</a></li>
                    <li><a href="#">TERMS OF USE</a></li>
                    <li><a href="#">USER GUIDE</a></li>
                    <li><a href="#" style="color: rgb(143, 88, 88);">개인정보 취급방침</a></li>
                </ul>
                <div class="infos">
                    <ul class="ul2">
                        <li>TRADE NAME 아이러브제이 &#124;</li>
                        <li> COMPANY (주)제이스타일 코리아 &#124;</li>
                        <li> OWNER ooo &#124;</li>
                        <li> BUSINESS LICENCE 000-00-000</li>
                    </ul>
                    <ul class="ul3">
                        <li>ONLINE BUSINESS LICENSE 000-00-000 &#124;</li>
                        <li>ADDRESS ooooo oo oooo &#124;</li>
                        <li>CALL CENTER 0000-0000 &#124;</li>
                        <li>E-MAIL 00000@0000.com</li>
                    </ul>
                </div>
            </div> 
        </div>
    
        <script src="./server/jstyle.js"></script>
</body>
</html>